@tailwind base;
@tailwind components;
@tailwind utilities;

.category-grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.category-grid > *:nth-child(1),
.category-grid > *:nth-child(2) {
  grid-column: span 2;
}

.items-grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.my-swiper.swiper {
  width: 280px;
  height: 400px;
}

.my-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
